.calculator-container {
  text-align: center;
}

.calc-title {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 35px;
  text-shadow: 1px 1px 4px rgba(224, 174, 174, 0.4);
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}
.calculator {
  background-color: #1e272e;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  width: 320px;
}
.display {
  background: #000;
  color: #0f0;
  font-size: 32px;
  text-align: right;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow-x: auto;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
button {
  font-size: 22px;
  padding: 20px;
  border: none;
  border-radius: 12px;
  background-color: #2f3640;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background-color: #414b57;
}
button.operator {
  background-color: #e17055;
}
button.equal {
  background-color: #00cec9;
  grid-column: span 2;
}
button.clear {
  background-color: #d63031;
  grid-column: span 2;
}
